<h1>Businesses in South Carolina</h1><br>


<% @businesses.each do |business| %>
<!--<a href="/businesses/<%= business.id %>"style="color: black"><%= business.title %> - <%= business.city %>,<%= business.state %></a>-->
<%= link_to business.title, user_business_path(business, @current_user) %>
<% end %>
<br><br>



