<h1>Businesses in South Carolina</h1><br>


<% @businesses.each do |business| %>
<!--<a href="/businesses/<%= business.id %>"style="color: black"><%= business.title %> - <%= business.city %>,<%= business.state %></a>-->
<%= link_to business.title, user_business_path(business, @current_user) %><br>
<% end %><br><br>
<button><h3><%= link_to "Add a New Business", new_user_business_path(@current_user) %></h3></button>

<br><br>



