<!-- form for creating a new business -->
<h1>Welcome, <%= current_user.username %> </h1>
<%= form_for @businesses do |b| %>

<%= b.label :title  %>
<%= b.text_field :title %>
<br>

title of business 

image of business (can be logo)

<%= b.select :category, [ 'Apparel', 'Content Creators', 'Floral' ], :prompt => 'Select One' %>

address of business - city and state

description of busines???
<%= b.label :description  %>
<%= b.text_field :description %>