<!-- form for creating a new business -->
<h1>Welcome, <%= current_user.username %> </h1>
<%= form_for @businesses do |b| %>

<%= b.label :title  %>
<%= b.text_field :title %>
<br>

<%= b.select :category, [ 'Apparel', 'Content Creators', 'Floral' ], :prompt => 'Select One' %>

image of business (can be logo)
<%= b.label :image %>
<%= b.file_field :image %>



address of business - city and state

description of business???
<%= b.label :description  %>
<%= b.text_field :description %>